main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postssection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
}